*{
    margin: 0px;
    padding: 0px;
    font-family: 'Times New Roman', Times, serif;

}
header {
    background-color: crimson;
    
    font-size: larger;
    margin-bottom: 8px;
    padding: 20px;
    display: flex;
    margin: auto;
    width: 800px;
    box-shadow: 5px 4px  12px rgba(0, 0, 0, 0.274);
}
    
    

header h1{
    margin-right: 30px;
     color: aliceblue;
     text-align: center;
     
}
section{
    margin: auto;
    margin-top: 12px;
    width: 800px;
}
form{
    background-color: rgba(158, 45, 45, 0.349);
    height: 100px;
    display: none;
    width: 800px;
    margin: auto;
}
form input{
    padding: 12px;
    margin: 20px;
}
form button {
    padding: 4px;
    background-color: rgba(4, 155, 4, 0.795);
    border: none;
    color: aliceblue;
}
#canc{
    background-color: rgba(190, 0, 0, 0.781)
}
ul{
    display: flex;
    flex-wrap: wrap;
    width:800px;
    margin: auto;
    
}
ul li {
    position: relative; 
    max-width: 45%;
    list-style: none;
    max-height: 150px;
    border-radius: 18px;
    margin-bottom: 12px;
    margin-right: 12px;
    margin-top: 12px;
    overflow-y: hidden;
}
li{
    
    
}
ul li img {
    width: 100%;
   
    
}
a{
    text-decoration: none;
    font-size: medium;
    color: aliceblue;
    margin-left: 8px;
}
.texto{
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    opacity: 0;
    padding: 16px 0px;
    background-color: rgba(0, 0, 0, 0.438);
    transition: all ease .5s;
}
ul li:hover .texto{
    opacity: 1;

}