*{
    margin: 0px;
    padding: 0px;
    font-family: 'Times New Roman', Times, serif;

}
header {
    background-color: crimson;
    text-align: center;
    color: aliceblue;
    font-size: larger;
    
}