*{
    margin: 0px;
    padding: 0px;
    font-family: 'Times New Roman', Times, serif;

}
header {
    background-color: crimson;
    
    font-size: larger;
    margin-bottom: 8px;
    padding: 20px;
    display: flex;
    margin: auto;
    width: 800px;
    
}
    
    

header h1{
    margin-right: 30px;
     color: aliceblue;
     text-align: center;
}
section{
    margin: auto;
    margin-top: 12px;
    width: 800px;
}
form{
    background-color: rgba(158, 45, 45, 0.349);
    height: 100px;
    display: none;
}
form input{
    padding: 12px;
    margin: 20px;
}
form button {
    padding: 4px;
    background-color: rgba(4, 155, 4, 0.795);
    border: none;
    color: aliceblue;
}
#canc{
    background-color: rgba(190, 0, 0, 0.781)
}
